/**
*Author: Noah Kovacs
*Date: 04 May 2015
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-family: serif;
}

.sectionHeader,
.highlight {
    background: none;
    color: none;
}

header,
footer,
nav {
    display: none;
}
